@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'McLaren', cursive;
}

.d-flex{
    display: flex;
}

.bg-primary{
    background-color: #f5ba13;
}

.text-primary{
    color: #f5ba13;
}

.bg-white{
    background-color: white;
}

.text-white{
    color: white;
}

.text-gray{
   color:  #ccc;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}
.p-1{
    padding: 1rem;
}

.pb-1{
    padding-bottom: 1rem;
}

.px-1{
    padding: 0 1rem 0 1.2rem;
}

.fs-1{
    font-size: 2rem;
}

.position-absolute{
    position: absolute;
}

.bottom-0{
    bottom: 0;
}

.text-center{
    text-align: center;
}

.w-100{
    width: 100%;
}

.m-0{
    margin: 0;
}

.shadow-bottom{
    box-shadow: 0px 5px 10px 0px rgba(53, 53, 53, 0.15);
}

.font-normal{
    font-family: "Montserrat", sans-serif;
}

.border-1{
    border-radius: 0.2rem;
    box-shadow: 0px 0px 8px -2px #999198;
}

.w-auto{
    width: fit-content;
}

.fw-400{
    font-weight: 400;
}

.fe-bold{
    font-weight: bold;
}

.m-1{
    margin: 0.25rem;
}

.pb-1{
    padding-bottom: 0.2rem;
}

.mt-1{
    margin-top: 0.5rem;
}

.pt-1{
    padding-top: 0.25rem;
}

.mb-1{
    margin-bottom: 00.25rem;
}